In [1]:
import pandas as pd
pd.set_option('display.max_rows', 200)

In [2]:
segmentdf = pd.read_excel('Nissan_Segment_List.xlsx', header = 1)
segmentdf.head()

    Segments       Make Model
0  * COMPACT   CHEVROLET BOLT
1  * COMPACT      HONDA CIVIC
2  * COMPACT    HONDA INSIGHT
3  * COMPACT  HYUNDAI ELANTRA
4  * COMPACT    HYUNDAI IONIQ

In [3]:
segmentdf['Segments'] = segmentdf['Segments'].apply(lambda x: x.replace('*', '').strip().title())
segmentdf['Segments'] = segmentdf['Segments'].apply(lambda x: x.replace('Suv', 'SUV'))
segmentdf['Make'] = segmentdf['Make Model'].str.split().str.get(0)
segmentdf['Make Model'] = segmentdf['Make Model'].str.split().str.slice(1).str.join(' ')
segmentdf = segmentdf.rename(columns = {'Make Model':'Model', 'Segments' : 'Segment'})
segmentdf = segmentdf[['Segment', 'Make', 'Model']]
segmentdf['Make'] = segmentdf['Make'].apply(lambda x: x.capitalize())
segmentdf['Model'] = segmentdf['Model'].apply(lambda x: x.capitalize())

In [4]:
segmentdf['Segment'].value_counts()

Lower Midsize SUV                   25
Compact SUV                         16
Compact                             15
Large SUV                           14
Midsize SUV                         13
Competitive Sports / Performance    11
Fullsize SUV                        11
Midsize Pickup                       9
Fullsize Pickup                      9
Lower Midsize                        8
Entry SUV                            8
Name: Segment, dtype: int64

In [9]:
segmentdf.tail()

               Segment        Make     Model
134  Lower Midsize SUV      Subaru  Solterra
135  Lower Midsize SUV      Toyota      Bz4x
136  Lower Midsize SUV      Toyota      Rav4
137  Lower Midsize SUV  Volkswagen       Id4
138  Lower Midsize SUV  Volkswagen    Tiguan

In [6]:
segmentdf.to_excel('VehicleSegments.xlsx')